pyyaml
geopandas
rasterio
tqdm
rasterstats
scipy
matplotlib
plotly
sklearn
rtree
#openpyxl
#joblib
#requests
#pygdal==3.0.4.11  # https://gis.stackexchange.com/a/124420
#Pillow
#OWSLib
#cogeo-mosaic
#kaleido
