pyyaml
cogeo-mosaic
geopandas>=0.12
rasterio
tqdm
rasterstats
scipy
matplotlib
plotly
sklearn
rtree
boto3
python-dotenv
logzero
GDAL==3.0.4
#openpyxl
#joblib
#requests
#pygdal==3.0.4.11  # https://gis.stackexchange.com/a/124420
#Pillow
#OWSLib
#cogeo-mosaic
#kaleido
